
* {
    list-style-type: none;

}

.nav, .navbar, .navbar-default, .navbar-default {
    border-radius: 0px;

}

#eventname {
    font-weight: bold;
    text-decoration: underline
}

.related-artists-imgs img {
    z-index:1;
    width: 10%;
    height: 10%;

}

.saved_event {

    font-size: 15px;
    font-weight: bold;  
    width: 200px;
    height: 125px;
    float: left;
    margin-left: 10px;
    margin: 10px;
    color: black;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 25px;

}

.map-view {
    float: left;
    clear: both;
}

#map {

    width: 500px;
    height: 300px;
 
}

.playlist {
    float: left;
    clear: both;

}


.main {

    margin: 20px;
}

#playlists {

    float: left;
    clear: both;

}

