
* {
    list-style-type: none;

}

.nav, .navbar, .navbar-default, .navbar-default {
    border-radius: 0px;

}

#eventname {
    font-weight: bold;
    text-decoration: underline
}



.artist-name:hover {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.saved_event {

    font-size: 15px;
    font-weight: bold;  
    width: 200px;
    height: 125px;
    float: left;
    margin-left: 10px;
    margin: 10px;
    color: black;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 25px;

}

.map-view {
    float: left;
    clear: both;
}

#map {

    width: 500px;
    height: 300px;
 
}

.playlist {
    float: left;
    clear: both;

}


.main {

    margin: 20px;
}

.panel-group {

    float: left;
    clear: both;
}

#playlist-name {

/*    float: left;*/
    clear: both;
}

#playlists {

    float: left;
    clear: both;

}

.related-artists-imgs {

    width: 0;
}


.related-artists-imgs img {
    display: inline-block;
   /* position: relative;*/
    z-index:1;
    width: 10%;
    height: 10%;
    margin: 0;

}

.related-artists-imgs p {

    display: inline-block;
    position:relative;
    right:150px;
    visibility:hidden;

}

.related-artists-imgs:hover p {
    visibility:visible;
    font-size: 20px;
    color: white;
}



.wrapper img {

    display: inline-block;
  /*  position: relative;*/
    z-index:1;
    width: 10%;
    height: 10%;
}

.wrapper p {

    display: inline-block;
    position:relative;
    right:150px;
    visibility:hidden;
}

.wrapper:hover p {
    visibility:visible;
    font-size: 20px;
    color: white;
}

