
* {
    list-style-type: none;

}

.nav, .navbar, .navbar-default, .navbar-default {
    border-radius: 0px;

}

#eventname {
    font-weight: bold;
    text-decoration: underline
}

.related-artists-imgs img {
    z-index:1;
    width: 10%;
    height: 10%;

}

.saved_event {

    font-size: 15px;
    font-weight: bold;  
    width: 200px;
    height: 100px;
    border: 1px dotted #009ACD;
    float: left;
    margin-left: 10px;
    margin: 10px;
    color: #FFFF33;
    background-color: #009ACD;
    padding: 10px;

}

.map-view {
    float: left;
}

#map {

    width: 500px;
    height: 300px;
}

