<!doctype html>
<html  ng-app="myApp">
<head>
  <title>Broadcast</title>

  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  
</head>

<body>

     
      <script src="http://code.jquery.com/jquery.js"></script>

      <script src="https://maps.googleapis.com/maps/api/js"></script>

     <nav class="navbar navbar-default">

    <div class="container-fluid">
      <div class="navbar-header">
        <div id="navbar">
        
   {% if 'user' not in session %} 

               <ul class="nav navbar-nav">
                    <form action="/logged-in" method="POST">
                        <li id="email">Email: 
                        <input type="text" name="email"></li>
            
                        <li id="password">Password: 
                        <input type="text" name="password"></li>
                      
                        <input type="submit" value="Login">
                    </form>
              

                    <li><a href="/create-account">Create Account</a></li>

                {% else %}
                 <li><a href="/log-out">Log Out</a></li>
                {% endif %}
                </ul>


              </div>
          </div>
      </div>
    </nav>

              <ul>
                {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>

  <div class="main">
  {% block content %} put your content here {% endblock %}
  </div>

  <script type="text/javascript" src="/static/js/dashboard.js"></script>

</body>
</html>