{% extends 'base.html' %}
{% block content %}
   

<div class="container">
    <h2 id="welcome">Welcome to <span style="font-weight: bold; font-size: 40px">Broadcast</span></h2>
</div>

<div class="container">
    <h3>Enter an artist and city</h3>
    <form> 
        <input type="text" placeholder="artist" name="artist" id="artist">
        <p></p>
        <input type="text" placeholder="city" name="city" id="city">
        <p></p>
        <button type="button" class="btn btn-primary btn-lg" id="search-shows" data-loading-text="<i class='fa fa-spinner fa-spin '></i>Searching">Submit</button>
    </form>
</div>


<div class="container">
    <div id="show-results">
         <p style="font-weight: bold" id="show-message"></p>
       
         <div id="event-results"></div>

         <h4 id="related-artists-for-artist"></h4>
         <div class="related-artists"></div>
    </div>
</div>


{% endblock %}