{% extends 'base.html' %}
{% block content %}
    <h1>Broadcast</h1>


    <h3>Enter an artist and city</h3>
    <form> 
        Artist <input type="text" name="artist" id="artist">
        <p></p>
        City<input type="text" name="city" id="city">
        <p></p>
        <input type="submit" value="Search" id="search-shows">
    </form>

    <p></p>

    <div id="show-results">
         <p style="font-weight: bold" id="show-message"></p>
        <p></p>
        <p></p>
        <div id="event-results"></div>
        <p></p>
        <p></p>
        <h4 id="related-artists-for-artist"></h4>
        <div class="related-artists"></div>
    </div>



{% endblock %}