{% extends 'base.html' %}
{% block content %}
    <h1>Bunky</h1>

    <h3>Enter an artist and city</h3>
    <form> 
        <input type="text" name="artist" id="artist">
        <p></p>
        <input type="text" name="city" id="city">
        <p></p>
        <input type="submit" value="Search" id="search-shows">
    </form>

    <p></p>

    <div id="show-results">
        <span id="searched-artist"></span>
        <div><img src="" id="searched-artist-img"></div>
        <ul id="event-results"></ul>
    </div>

    <h3>Saved Shows</h3>

    <p></p>
    <p></p>

    <h3>Playlists</h3>

<script src="http://code.jquery.com/jquery.js"></script>

<script>

function showEvents(result) {


    $("#searched-artist").text("Shows for artists related to "+result.artist); 
    $("#searched-artist-img").attr("src", result.searched_artist_img).attr("height", 500);

    var events = [];

    for (var key in result.events) {
   
        console.log(result.events[key]['event']);
        var event_id = result.events[key]['event'];

        if (event_id != null) {
        
        events.push(event_id); 

        }

    }

    console.log(events);

    for (i=0; i < events.length; i++) {

        $("#event-results").append("<li>"+events[i]+"</li>");


    }; 

}

function findEvents(evt) {

    evt.preventDefault(); 

    var userInputs = {

        artist: $("#artist").val(), 
        city: $("#city").val()


    };

    $.get("/search-for-shows.json", 
        userInputs, 
        showEvents);

};

$('#search-shows').click(findEvents);

</script>



{% endblock %}