{% extends 'base.html' %}
{% block content %}


    <h2>Welcome to <span style="font-weight: bold; font-size: 40px">Broadcast</span></h2>

<!--    <div ng-app="myApp" ng-controller="MainController"><h1>{[ playlist ]}</h1><h1>{[ test ]}</h1></div> -->

    <h3>Enter an artist and city to search for concerts</h3>
    <form> 
        Artist <input type="text" name="artist" id="artist">
        <p></p>
        City<input type="text" name="city" id="city">
        <p></p>
        <input type="submit" value="Search" id="search-shows">
    </form>

    <p></p>

    <div id="show-results">
         <p style="font-weight: bold" id="show-message"></p>
        <p></p>
        <p></p>
        <div id="event-results"></div>
        <p></p>
        <p></p>
        <h4 id="related-artists-for-artist"></h4>
        <div class="related-artists"></div>
    </div>

    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <h3>My Saved Shows</h3>


    <div id="user-saved-shows">

            {% for event in events_list %}
                <div class="saved_event">
                    <p>{{ event[1] }}</p>
                </div>
            {% endfor %}

    </div>

    <div id="dialog"></div>

    <div class="playlist">
    <button id="create-playlist">Create Playlist</button><p>Create a playlist based on your saved shows.</p>
    </div>

    <p></p>
    <p></p>

    <div class="map-view">

    <div id="map"></div>
    </div>

    <div id="playlists"></div>

<script type="text/javascript">
          var locations = ({{ data|safe }});
          var performingArtists = ({{ performing_artists|safe }});
  </script>

{% endblock %}