{% extends 'base.html' %}
{% block content %}

    <h2>Welcome, user ID No. "<span style="color: pink">{{ user_id }}</span>"</h2>

    <h3>Enter an artist and city</h3>
    <form> 
        Artist <input type="text" name="artist" id="artist">
        <p></p>
        City<input type="text" name="city" id="city">
        <p></p>
        <input type="submit" value="Search" id="search-shows">
    </form>

    <p></p>

    <div id="show-results">
         <p style="font-weight: bold" id="show-message"></p>
        <p></p>
        <p></p>
        <div id="event-results"></div>
        <p></p>
        <p></p>
        <h4 id="related-artists-for-artist"></h4>
        <div class="related-artists"></div>
    </div>

    <h3>My Saved Shows</h3>

    <div class="user-saved-shows"></div>

    <p></p>
    <p></p>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="../static/dashboard.js"></script>



{% endblock %}